<header class="site-header">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    {%- if titles_size > 0 -%}
      <nav class="site-nav">
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger">
          <span class="menu-icon">
              &#9776;
          </span>
        </label>

        <div class="trigger">
          {%- for collection in site.collections | sort: "navigation_weight" -%}
            {%- assign page = site[collection.label].first -%}
            {%- if page.title -%}
              <a class="page-link" href="{{ page.url }}">{{ page.title | escape }}</a>
            {%- endif -%}
          {%- endfor -%}
          {%- for page in site.pages -%}
            {%- if page.title and (page.title != "Home") -%}
              <a class="page-link" href="{{ page.url | relative_url }}">{{ page.title | escape }}</a>
            {%- endif -%}
          {%- endfor -%}
        </div>
      </nav>
    {%- endif -%}
  </div>
</header>
